<main
  role="main"
  class="col-md-9 ml-sm-auto col-lg-10 px-4 text-center"
  style="
margin-top: -100px;"
>
  <div
    class="chartjs-size-monitor"
    style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
  >
    <div
      class="chartjs-size-monitor-expand"
      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
    >
      <div
        style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"
      ></div>
    </div>
    <div
      class="chartjs-size-monitor-shrink"
      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
    >
      <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
    </div>
  </div>
  <h2>Gestion de Libros</h2>
  <div class="card p-5">
    <form>
      <div class="form-group row">
        <label for="IdLibro" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
          <input
            type="number"
            name="IdLibro"
            [(ngModel)]="LibroEdit.id"
            maxlength="20"
            class="form-control"
            id="IdLibro"
            readonly
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="nombreLibro" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input
            type="text"
            name="NombreLibro"
            [(ngModel)]="LibroEdit.nombreLibro"
            maxlength="20"
            class="form-control"
            id="nombreLibro"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="Autor" class="col-sm-2">Autor</label>
        <div class="col-sm-10">
          <ng-select
            #selectAutor
            class="custom"
            name="selectAutor"
            [ngModel]="LibroEdit.idAutor"
            [(items)]="Autores"
            [placeholder]="'Seleccione...'"
            bindValue="id"
            bindLabel="nombre"
            (change)="changeAutor($event)"
          >
          </ng-select>
        </div>
      </div>

      <div class="form-group row">
        <label for="Categoria" class="col-sm-2">Categoria</label>
        <div class="col-sm-10">
          <ng-select
            #selectCategoria
            class="custom"
            name="selectCategoria"
            [ngModel]="LibroEdit.idCategoria"
            [(items)]="Categorias"
            [placeholder]="'Seleccione...'"
            bindValue="id"
            bindLabel="nombre"
            (change)="changeCategoria($event)"
          >
          </ng-select>
        </div>
      </div>

      <div class="form-group row">
        <label for="ISBN" class="col-sm-2 col-form-label">ISBN</label>
        <div class="col-sm-10">
          <input
            type="text"
            name="ISBN"
            [(ngModel)]="LibroEdit.isbn"
            maxlength="20"
            class="form-control"
            id="ISBN"
          />
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)=nuevoLibro()>Nuevo</button>
      <button type="button" class="btn btn-success ml-1" (click)="updateLibro()">Actualizar</button>
      <button type="button" class="btn btn-danger ml-1" (click)="deleteLibro()">Eliminar</button>
      <button type="button" class="btn btn-info ml-1" (click)="limpiar()">Limpiar</button>
    </form>
  </div>
  <table class="table" *ngIf="Libros.length > 0">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Id Autor</th>
        <th scope="col">Id Categoria</th>
        <th scope="col">ISBN</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of Libros">
        <th scope="row">{{ libro.id }}</th>
        <td>{{ libro.nombreLibro }}</td>
        <td>{{ libro.idAutor }}</td>
        <td>{{ libro.idCategoria }}</td>
        <td>{{ libro.isbn }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            (click)="editarLibro(libro)"
          >
            <i class="fas fa-edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--Grid con Framework-->
  <ag-grid-angular #GridProyecciones
    style="width: 100%; height: 300px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [animateRows]="true"
    [pagination]="true"
    rowSelection="single"
    [floatingFilter]="true"
    [enableFilter]="true"
    [localeText]="localeText"
    [frameworkComponents]="frameworkComponents"
    [paginationAutoPageSize]="true"
    [rowHeight]="40"
    >
  </ag-grid-angular>
</main>
