<main
  role="main"
  class="col-md-9 ml-sm-auto col-lg-10 px-4 text-center"
  style="
margin-top: -100px;"
>
  <div
    class="chartjs-size-monitor"
    style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
  >
    <div
      class="chartjs-size-monitor-expand"
      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
    >
      <div
        style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"
      ></div>
    </div>
    <div
      class="chartjs-size-monitor-shrink"
      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
    >
      <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
    </div>
  </div>
  <h2>Gestion de Categorias</h2>
  <div class="card p-5">
    <form>
      <div class="form-group row">
        <label for="IdLibro" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
          <input
            type="number"
            name="Id"
            [(ngModel)]="CategoriaEdit.id"
            maxlength="20"
            class="form-control"
            id="IdLibro"
            readonly
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input
            type="text"
            name="nombre"
            [(ngModel)]="CategoriaEdit.nombre"
            maxlength="20"
            class="form-control"
            id="colFormLabel"
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="validationTextarea" class="col-sm-2 col-form-label"
          >Descripcion</label
        >
        <div class="col-sm-10">
          <textarea
            class="form-control"
            id="validationTextarea"
            name="Descripcion"
            [(ngModel)]="CategoriaEdit.descripcion"
            required
          ></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="nuevaCategoria()">Nuevo</button>
      <button type="submit" class="btn btn-success ml-1" (click)="updateCategoria()">Actualizar</button>
      <button type="submit" class="btn btn-danger ml-1" (click)="deleteCategoria()">Eliminar</button>
      <button type="submit" class="btn btn-info ml-1" (click)="limpiar()">
        Limpiar
      </button>
    </form>
  </div>
  <table class="table" *ngIf="Categorias.length > 0">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of Categorias">
        <th scope="row">{{ categoria.id ? categoria.id : '' }}</th>
        <td>{{ categoria.nombre ? categoria.nombre : '' }}</td>
        <td>{{ categoria.descripcion ? categoria.descripcion : '' }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            (click)="editarCategoria(categoria)"
          >
            <i class="fas fa-edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
