<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Prueba de Ingreso</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-12 d-none d-md-block bg-light sidebar mt-5">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Libros" routerLinkActive="router-link-active" >
              <i class="fas fa-book"></i> Libros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Autores">
              <i class="fas fa-feather-alt"></i> Autores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Categorias">
              <i class="fab fa-cuttlefish"></i> Categorias
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
